/* background-image: url(../../assets/lesbians.jpg);
    background-size: cover;*/ 
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.bg {
  display: flex;
  height: 100vh;
  background-image: url(../../assets/lesbians.jpg);
  background-size: cover;
}

.bg::after {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(73, 0, 73, 0.8); /* Cor roxa com 50% de opacidade */
  z-index: 0; /* Garante que o overlay fique atrás do conteúdo */
}

.content {
  position: relative;
  z-index: 1;
  /*border: 4px solid rgb(255, 255, 255);*/
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content h1 {
    font-size: 3.2em;
    line-height: 1.1;
    font-weight: bolder;
  }

.content p {
  font-size: 17px;
  margin: 1px;
}  

.logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 900ms;
}
  
.logo:hover {
  filter: drop-shadow(0 0 2em #ff09f3aa);
}
  
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ff0eeb;
  color: white;
  cursor: pointer;
  transition: border-color 0.9s;
}
  
.button:hover {
  border-color: #ffffff;
}
  
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
  
.card {
  padding-bottom: 2em;
}
  
.read-the-docs {
  color: #888;
}
  
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  color: #9e9e9e;
}
  
.footer p {
  font-size: 11px;
  }
  