#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 900ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ff09f3aa);
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ff7a0e;
  cursor: pointer;
  transition: border-color 0.5s;
}

.button:hover {
  border-color: #cfcfcf;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.card {
  padding-bottom: 2em;
}

.read-the-docs {
  color: #888;
}

.footer {
  position: fixed; /* Para manter o footer fixo na tela */
  bottom: 0; /* Posiciona o footer no final da tela */
  right: 0; /* Posiciona o footer no canto direito */
  padding: 10px; /* Adiciona algum espaçamento interno para o conteúdo do footer */
  color: #441830; /* Cor do texto opcional */
}

.footer p {
  font-size: 11px;
}
