.button-true {
    display: inline-block;
    background-color: #28a745; /* Cor de fundo para "true" */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor quando passar por cima */
    margin-right: 10px; /* Margem direita para espaçamento entre os botões */
}

.button-false {
    display: inline-block;
    background-color: #dc3545; /* Cor de fundo para "false" */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor quando passar por cima */
}