.left-side {
    width: 50%;
    height: 100vh; /* Ocupa toda a altura da viewport */
    background-color: #28a745; 
    float: left;
    box-sizing: border-box; /* Inclui padding e borda na largura */
}
.right-side {
    width: 50%;
    height: 100vh; 
    background-color: #464646; 
    float: left;
    box-sizing: border-box; 
}
.game-content {
    width: 100%; /* Ocupa toda a largura do container pai */
    overflow: hidden; /* Para lidar com a flutuação das divs filhas */
}

.game-bg {
    width: 100vw; /* Ocupa toda a largura da viewport */
}


.button-true,
.button-false {
    display: inline-block;
    background-color: #28a745; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    margin-right: 10px; 
}

.button-false {
    background-color: #dc3545; 
}