.button-true,
.button-false {
    display: inline-block;
    background-color: #28a745; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    margin-right: 10px; 
}

.button-false {
    background-color: #dc3545; 
}